.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-details-modal__close-button {
  background-color: transparent;
  border: none;
  color: #1e1e1e;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 10;
}

.photo-details-modal__image-container {
  position: relative; // Set to relative for absolute positioning of the button
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-fav-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}
