.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: fixed; // Changed to fixed for full-screen coverage
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center; // Center contents
  justify-content: center; // Center contents
}

.photo-details-modal__close-button {
  background-color: transparent; // Make it transparent
  border: none;
  color: #1e1e1e; // Color for visibility
  text-align: center;
  font-size: 24px; // Increased font size
  cursor: pointer;
  position: absolute; // Positioning
  top: 16px; // Adjust as needed
  left: 16px; // Adjust as needed
  z-index: 10; // Ensure it’s on top of other elements
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}
