.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%; // Center the modal vertically
  left: 50%; // Center the modal horizontally
  transform: translate(-50%, -50%); // Adjust positioning
  max-height: 90%; // Limit maximum height
  max-width: 80%; // Limit maximum width
  overflow-y: auto; // Enable scrolling if content overflows
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; // Add padding for spacing
}

.photo-details-modal__close-button {
  background-color: transparent;
  border: none;
  color: #1e1e1e; // Ensure it's visible
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  position: absolute; // Keep it absolute for positioning
  top: 16px; // Adjust as needed
  right: 16px; // Change left to right to position it at the top-right
  z-index: 10; // Ensure it's on top of other elements
}

.photo-details-modal__image-container {
  position: relative; // Keep this for the button positioning
  margin-top: 24px; // Add margin to create space above the image
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-fav-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}
